
.main{
    gap: 10px; 
}
.main-1{
    background-color: rgb(10, 9, 9);
    gap: 20px;
    width: 100vw;
}
.top{
    display: flex;
    justify-content:center;
    gap: 2vw;
    font-size: 2vw;
    color:white;
}
.h1-iphone{
    font-size: 7vw;
}
.p-15{
    font-size: 4vw;
}
.a-15{
    font-size:3vw ;
}
p{
    font-size: 2 vw;
}
.top-leen{
    color:white;
    text-align: center;
    font-size: 2vw;
}
.iphone-15{
    font-size: 30px;
    text-align: center;
    height:50vw;
    width: 100vw; 
    background-image: url('https://www.apple.com/v/home/bj/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_medium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.iphone-15-blue{
    font-size: 30px;
    text-align: center;
    height: 50vw;
    width: 100vw;
    background-image: url('https://www.apple.com/v/home/bj/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_medium.jpg');
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
}
.watch{
    font-size: 30px;
    text-align: center;
    height: 50vw;
    width: 100vw;
    background-image: url('https://www.apple.com/v/home/bj/images/heroes/apple-watch-series-9-anim/hero_startframe__dbi4flqyio2u_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.box-h{
    font-size: 5vw;
}
.box-a{
    font-size: 3vw;
}
.box1{
    height: 48vw;
    width: 48vw;
    background-image: url('https://www.apple.com/in/home/promos/apple-watch-ultra-2/images/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
    
}
.box2{
    height: 48vw;
    width: 47vw;
    background-image: url('https://www.apple.com/v/home/bj/images/promos/valentines-day-2024/promo_valentines_day_2024__bbgmf6gk911u_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}
.box3{
    height: 48vw;
    width: 48vw;
    background-image: url('https://www.apple.com/v/home/bj/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
}
.box4{
    height: 48vw;
    width: 48vw;
    background-image: url('https://www.apple.com/in/home/promos/ipad/images/promo_ipad__fioegapg12qi_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
}
.box5{
    height: 48vw;
    width: 48vw;
    background-image: url('https://www.apple.com/v/home/bj/images/promos/airpods-pro/promo_airpods_pro_order__d8xv36p4uwae_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
    color:white;
}
.box6{
    height: 48vw;
    width:48vw;
    background-image: url('https://www.apple.com/v/home/bj/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
    
}
.main-2{
    gap: 4vw;
    display: grid;
    grid-template-rows: 1fe 1fr 1fr;
    grid-template-columns: 1fr 1fr ;

}
.slide{
    height: 50vw;
    width: 100vw;
}
.s{
    height: 50vw;
    width: 100vw;
}
.foot{
    margin: 10vw;
}

.list{
    display: flex;
    justify-content: center;
    gap: 2vw;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    font-size: 2vw;

}
.fa{
    position: relative;
    top: 2px;
    
}
a{
    color: blue;
}